<html>
    <head>
        <title> Blog App </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    </head>
</html>
<body>
    <div class='ui fixed inverted menu'>
        <div class='ui container'>
            <div class='header item'><i class="fas fa-spider"></i><span> Syde</span>BLOGS</div>
            <a href="/" class='item'> Home </a>
            <a href="/blogs/new" class='item'> New Post </a>
        </div>
    </div>